body{
    font-family: 'Merriweather', serif;
    font-weight: 300;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
    

}
.container{
    display:block;
    min-width:270px;
    max-width: 1600px;
    padding: 0 16px;
    margin-left: auto;
    margin-right: auto;
}